{% load static %}
<img id="addStoryIcon" src="{% static 'icon_add.png' %}"/>

<div class="accordion-container">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          You're safe here
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
			  	Add your voice and share your story anonymously. We will not share your story without your permission.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          What do you identify as?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
			  <div class="form-group">
			    <label for="genderInput">You can trust us. What's your gender?</label>
			    <select class="form-control" id="genderInput">
			    	<option>do not wish to disclose</option>
					  <option>cis-woman</option>
					  <option>cis-man</option>
					  <option>non-binary</option>
					  <option>trans-man</option>
					  <option>trans-woman</option>
					  <option>other</option>
					</select>
			  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          What type of assault occured?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="typeInput">You are not alone.</label>
				    <select class="form-control" id="typeInput">
			    		<option>do not wish to disclose</option>
						  <option>rape</option>
							<option>controlling behavior</option>
							<option>partner assault</option>
							<option>stalking</option>
							<option>indecent exposure</option>
							<option>pornography</option>
							<option>cyber bullying</option>
							<option>genital mutilation</option>
							<option>threats of physical violence</option> 
							<option>incest</option>
						</select>
				  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFour">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	          Who assaulted you?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="assailantInput">It wasn't your fault.</label>
				    <select class="form-control" id="assailantInput">
			    		<option>do not wish to disclose</option>
							<option>romantic partner</option>
							<option>friend </option>
							<option>teacher</option>
							<option>boss </option>
							<option>family member </option>
							<option>stranger </option>
							<option>coworker </option>
							<option>police</option>
						</select>
				  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFive">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	          Where did the assault take place?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="locationInput">We believe you.</label>
				    <select class="form-control" id="locationInput">
			    		<option>do not wish to disclose</option>
							<option>a public space </option>
							<option>on a college campus </option>
							<option>family </option>
							<option>at or near your home </option> 
							<option>at or near a relative's home </option>
						</select>
				  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSix">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
	          Did you report the assault?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="reportInput">You did nothing wrong. Leave this blank if you do not want to disclose.</label>
				    <div class="radio">
							<label class="radio-inline">
							  <input type="radio" name="reportInput" id="reportInputYes" value="yes"> Yes
							</label>
							<label class="radio-inline">
							  <input type="radio" name="reportInput" id="reportInputNo" value="no"> No
							</label>
						</div>
				  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSeven">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
	          What resources did you use?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="resourceInput">You can be there for others by sharing what resource centers you accessed.</label>
				    <textarea class="form-control" id = "resourceInput"rows="3"></textarea>
				  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingEight">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
	          Share more of your story anonymously.
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="storyInput">We believe you. This section is optional.</label>
				    <textarea class="form-control" id = "storyInput"rows="5"></textarea>
				  </div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingNine">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
	          Be a part of the movement.
	        </a>
	      </h4>
	    </div>
	    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
	      <div class="panel-body">
				  <div class="form-group">
				    <label for="permissionInput">Do you give us permission to post your story anonymously on our Facebook page? This will allow others to share your story. You can see how this will look <a href="https://www.facebook.com/I-Believe-You-793855907422734/" target="_blank">here</a>.</label>
				    <div class="radio">
							<label class="radio-inline">
							  <input type="radio" name="permissionInput" id="permissionInputYes" value="yes"> Yes
							</label>
							<label class="radio-inline">
							  <input type="radio" name="permissionInput" id="permissionInputNo" value="no"> No
							</label>
						</div>
						<button type="submit" class="btn btn-default" id="submit">Submit Story</button>
				  </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!-- <div class='accordion-container'>some box!!!!!!</div> -->

<script type="text/javascript">
//$('#collapseThree').collapse('toggle')
$('#addStoryIcon').click(function(e) {
  $('.accordion-container').addClass('accordion-container-show');
});

$('#submit').click(function(e) {
	$('.accordion-container').hide();
	var data = {};
  e.preventDefault();
  console.log('submit clicked')
  data.gender = $('#genderInput').val().trim();
  data.type = $('#typeInput').val().trim();
  data.assailant = $('#assailantInput').val().trim();
  data.location = $('#locationInput').val().trim();
  data.report = $('input[name="reportInput"]:checked').val();
  data.story = $('#storyInput').val().trim();
  data.permission = $('input[name="permissionInput"]:checked').val();

  //TODO: data.longitude and data.latitude
  console.log(data)
  $.ajax({
      type:'POST',
      url: '/api/add/story',
      data: data,
      success: function() {
          console.log('adding story worked');
      },
      error: function() {
          console.log('error adding story');
      }
  });
});
</script>
