#addStoryIcon{
	position: fixed;
  bottom: 30px;
  max-height: 80px;
  max-width: 80px;
  height: auto;
  width: auto;
  cursor: pointer;
	left: 30px;
}

#addStoryIcon:hover {
  opacity: 0.6;
}

#safe-exit-icon {
 	position: fixed;
	bottom: 30px;
  max-height: 80px;
  max-width: 80px;
  height: auto;
  width: auto;
  cursor: pointer;
 	right: 30px;
}

#safe-exit-icon:hover {
  opacity: 0.8;
}

.container .panel-default>.panel-heading {
	background-color: #eff0f5;
}

.accordion-container{
	position: absolute;
  top: 0px;
	left: -400px;
  width:400px;
  padding-right: 18px;
  padding-left: 18px;
	padding-top: 68px;
  margin-right: 18px;
  background-color: white;
	border-radius: 2px;
	border: 1px solid #ccc;
	transform: translateX(0px);
	transition: transform 0.2s;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}

.slide-btn {
	position: absolute;
	left: 399px;
	top: 135px;
	width: 23px;
  height: 48px;
  cursor: pointer;
	background-color: white;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	color: #2C363F;
	padding: 5px;
  font-size: 12px;
  padding-top: 15px;
}

.move-accordion {
	transform: translateX(400px);
}

.panel-body {
	width: 362px;
}
