body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.container #map {
  width: 100vw;
  height: 100vh;
  position: static !important;
}

.container .nav a {
  cursor: pointer;
}
.container .nav a.selected {
  color: white;
}

.story-bubble {
  width: 200px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.map-filter {
  float: left;
  margin: 3px;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  height: 35px;
  border-radius: 2px;
  background-color: #DB5461;
  color: white;
  font-size: 15px;
}

.read-story-btn {
  margin: 3px;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  clear: left;
  border-radius: 2px;
  background-color: #86CB92;
  color: #2C363F;
  font-size: 20px;
  font-weight: 700;
}

.read-story-btn:hover {
  background-color: #4db35f;
  cursor: pointer;
}
